<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.shoppingmall.mapper.BoardMapper">

	<sql id="boardColumns">
		id
		,title
		,content
		,delete_yn
		,create_date
		,views
		,type
	</sql>

	<!-- 게시글 목록 확인 -->
	<select id="selectAll" resultType="com.spring.shoppingmall.model.BoardDTO">
		SELECT 
			<include refid="boardColumns" />
		FROM
			tb_board
		ORDER BY
			id desc
	</select>

	<!-- 게시글 조회 -->
	<select id="selectPost" resultType="com.spring.shoppingmall.model.BoardDTO">
		SELECT
			<include refid="boardColumns" />
		FROM
			tb_board
		WHERE
			id = #{id}
	</select>

	<!--게시글 작성 -->
	<insert id="insertBoard" parameterType="com.spring.shoppingmall.model.BoardDTO">
		INSERT INTO
			tb_board (title, content, create_date, type)
		VALUES
			(#{title}, #{content}, #{createDate}, #{type})
	</insert>
	
	<!-- 게시글 수정 -->
	<update id="updateBoard" parameterType="com.spring.shoppingmall.model.BoardDTO">
		UPDATE 
			tb_board
		SET
			title = #{title},
			content = #{content}
		WHERE
			id = #{id}
	</update>
</mapper>